body{
    margin: 0;
    padding: 0;
font-family: ;
background-color: antiquewhite;
color: black;
}

.cabeçalho{
    background-color: black;
    color: aliceblue;
    width: 20px;
    text-align: center;
}
